* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('caminho-da-sua-imagem.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Adicionando um fundo semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.02);
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #6a11cb;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6a11cb;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #2575fc;
    transform: translateY(-2px);
}

.forgot-password {
    text-align: center;
    margin-top: 15px;
}

.forgot-password a {
    color: #6a11cb;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
    color: #2575fc;
}
